@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-family: var(--font-cinzel);
}



body {
  background-color: #050816;
  color: #f9fafb;
}

@keyframes slowZoom {
  0%   { transform: scale(1.30); }
  100% { transform: scale(1.45); }
}

.animate-slowZoom {
  animation: slowZoom 12s ease-in-out infinite alternate;
}
